<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmartFlowApp Test Suite" verbose="2">
    <test name="Hospital Queue Management Tests">
        <classes>
            <class name="com.hospital.queue.tests.SmartFlowTests"/>
        </classes>
    </test>
    <test name="Patient-Perspective Tests">
        <classes>
            <class name="com.hospital.queue.tests.PatientFlowTests"/>
        </classes>
    </test>
</suite>
